h1{ text-align: center; color: black; font-family: 'Times New Roman', Times, serif; font-size: xx-large;}
h2{ text-align: center; color:black; font-family: 'Times New Roman', Times, serif; font-size: xx-large;}
.item1 { grid-area: logo;}
.item2 { grid-area: links; text-align: right;}
.item3 { grid-area: gap; }
.item4{grid-area: header;}

a{display:inline; font-size: xx-large;}
a:link{color:red; }
a:visited{color: #61249d;}
a:active{color:black;}
a:hover{color:yellow;}


.outbox{background-color:#61249d; width:auto; border: 5px solid #000; padding:15px; margin:20px;}
.header{background-color: white; width:auto; border:2px solid blue; padding-left:30px; padding-right: 30px;}
.main{background-color: lightblue; width:auto; border:2px solid  darkmagenta; padding:5px;margin:2px}
.profilepic{display: block;  width: 300px; margin: auto;}
.logo{ display:inline; width: 75px; height: 75px; margin-bottom: 0%;}

#grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header header'
    'logo logo gap links links links links';
  grid-gap: 20px;
  background-color: #ffffff;
  padding: 10px;

}

#grid-container > div {
  background-color:#ffffff;
  padding: 15px 10px;
  font-size: 30px;
  border-width: 2px;


}

