#container{
    display: grid;
    width:300px;
    margin:auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding:10px;
    grid-gap:7px;
    grid-template-areas: 
    'spot1 spot2 spot3'
    'spot4 spot5 spot6'
    'spot7 spot8 spot9';
}
#status{
    text-align: center;
}

.spot{
    background-color: #61429d;
    height: 100px;
    width: 100px;
    font-size: 20px;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    cursor:pointer;
}
.s1{
    grid-area: spot1; 
}
.s2{
    grid-area: spot2; 
}
.s3{
    grid-area: spot3; 
}
.s4{
    grid-area: spot4; 
}
.s5{
    grid-area: spot5; 
}
.s6{
    grid-area: spot6; 
}
.s7{
    grid-area: spot7; 
}
.s8{
    grid-area: spot8; 
}
.s9{
    grid-area: spot9; 
}
